
#header{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 50px;
   text-transform: capitalize;
}

fieldset{
   width:100%;
   height:300px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border:2px solid black;
   margin-bottom: 20px;
   
}

label{
   font-size:22px;
}

label{
   width:100px;
   text-align: right;
   margin-right: 20px;
   float:left;
}

input[type="text"]{
   text-align: right;
   width:250px;
   height:40px;
}

legend{
   background-color: brown;
   font-size: 26px;
   padding: 35px 10px;
   border-radius:10px;
   color:whitesmoke;

}

.para{
width:600px;

}

.para label{
   width:300px;
   text-align: right;
}

.div{
   width:100%;
   margin-top: 30px;

   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 24px;
}

.div input[type="checkbox"]{
   width:30px;
   height: 30px;
   margin-right:20px;
}

.position{
   width:400px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 22px;
}

.container1{
   width:100%;
   height:250px;
   margin-top: 30px;
}

select{
   width:250px;
   height:60px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 24px;
   font-weight: bold;
}

.container2{
   width:100%;
   height:250px;
   margin-top: 30px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 26px;
}

input[type="radio"]{
   width: 30px;
   height:30px;
   border-radius: 50%;
   margin-right: 20px;
}

.container3{
   width:450px;
   height:100px;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap:20px;
}

input[type="submit"]{
   width:260px;
   height:40px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 22px;
   background-color:brown ;
   border:none;
   color:whitesmoke;
}